#root {
  height: 100vh;
}
.App {
  text-align: center;
  background-color: black;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  overflow: hidden;
}
p, .registration-success {
  color: white;
}

.error-text {
  color: #FE2712;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

button, .button--primary {
  border: 1px solid black;
  padding: 14px 40px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  background-color: aquamarine;
  border-radius: 2px;
  cursor: pointer;
}
.button--primary, .button--secondary {
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 5px grey;
}

.button--secondary {
  background-color: crimson;
  border-color: white;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: darkslategray; /* Green */
  color: white;
}

.button--secondary:hover {
  background-color: rgb(126, 20, 41);
  border-color: white;
  color: white;
  cursor: pointer;
}

.qr-scanner {
  height: max-content;
  width: 100%;
}

.qr-content {
  grid-row: 2 / span 8;
  display: grid;
  align-items: center;
}
.arrow-moving-down {
  animation-name: arrow-slide-down-animation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes arrow-slide-down-animation {
  0% {top: 20%;}
  60% {top: 40%;}
  100% {top: 20%;}
}
.scan {
  background-color:  #222;
  animation-name: begin-scan-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.scan:focus {
  outline:0;
} 

.scan-stop {
  background-color: darkslategray; /* Green */
}
.scan-stop:focus {
  outline:0;
} 
.scan-again {
  background-color: #222;
  animation-name: scan-again-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scan-again-animation {
  0% {
    background-color: #222;
  }
  50% {
    background-color: #FFFF66;
  }
  100% {
    background-color: #222;
  }
}
@keyframes begin-scan-animation {
  0% {
    background-color: #222;
  }
  50% {
    background-color:aquamarine;
  }
  100% {
    background-color: #222;
  }
}

@media only screen and (min-device-height : 375px) and (max-device-height : 400px) {
  .App {
    text-align: center;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(12, 10%);
  }
  .qr-content {
    grid-row: 4 / span 8;
    display: grid;
    align-items: center;
  }
  button {
    margin: 10px;
  }
}

.confirm-event-modal {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.event-name-display-holder {
  padding: 0em 2em 0em 2em;
  height: 150px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 400;
  font-variant-caps: petite-caps;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.event-name-display-holder h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 400;
}
.event-name-display-holder::before {
  top: 0px;
  left: 0%;
  width: 100%;
  content: "";
  height: 200px;
  position:absolute;
  z-index: -1;
  box-shadow:0px 2px 2px  darkblue;
}
.confirm-event-content--topic {
  color: lightgrey;
  font-weight: 700;
  height: 5%;
  background: linear-gradient(135deg, black 25%, transparent 25%) -25px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -25px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);
  background-color: #232323;
  display:flex;
  justify-content: center;
  align-items: center;
}

.confirm-event-modal ul {
  padding:0;
  margin: 0;
  width: 100%;
  list-style: none;
}
.confirm-event-modal li {
  padding: 4em;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom:2px solid darkblue;
}

.confirmation-buttons {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 2em 4em 2em 4em;
}

.confirm-event-content {
  flex: 1 0 auto;
}
